.selected {
  display: flex;
  border: none;
  background-color: rgb(54, 52, 52);
  color: aliceblue;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 330px;
}

.selected .label {
  border-radius: 7px;
  margin-left: 5px;
  padding: 3px 5px;
  display: inline-block;
}

.selected .avatar {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 20px;
  margin-right: 20px;
  width: 20px;
}

.selected .status {
  margin: 2px 0;
  text-align: left;
}

.selected .container {
  padding-left: 20px;
}
